<h1>Selecionar Carro e Pista</h1>

<%= form_with url: '', method: :get, local: true, html: { onsubmit: 'updateFormAction()' } do %>
  <div class="field">
    <%= label_tag :car_id, "Selecione o Carro" %>
    <%= select_tag :car_id, options_from_collection_for_select(@cars, :id, :model) %>
  </div>
  <div class="field">
    <%= label_tag :track_id, "Selecione a Pista" %>
    <%= select_tag :track_id, options_from_collection_for_select(@tracks, :id, :name) %>
  </div>
  <div class="field">
    <%= label_tag :fuel_consumption_per_lap, "Consumo de Combustível por Volta (litros)" %>
    <%= text_field_tag :fuel_consumption_per_lap %>
  </div>
  <div class="field">
    <%= label_tag :total_laps, "Quantidade de Voltas da Corrida" %>
    <%= text_field_tag :total_laps %>
  </div>
  <div class="actions">
    <%= submit_tag "Calcular Estratégia" %>
  </div>
<% end %>

<div class="actions">
  <%= link_to 'Voltar', races_path, class: 'button' %>
</div>

<script>
  function updateFormAction() {
    const carId = document.querySelector('#car_id').value;
    const trackId = document.querySelector('#track_id').value;
    const form = document.querySelector('form');
    if (carId && trackId) {
      form.action = `<%= show_race_path(car_id: '', track_id: '') %>`.replace('{car_id}', carId).replace('{track_id}', trackId);
    }
  }
</script>
