<h1>Nova Corrida</h1>

<%= form_with model: @race, local: true do |form| %>
<div>
    <%= form.label :car_id, "Selecione o Carro" %>
    <%= form.collection_select :car_id, @cars, :id, :model, prompt: "Selecione um carro" %>
  </div>
  
  <div>
    <%= form.label :track_id, "Selecione a Pista" %>
    <%= form.collection_select :track_id, @tracks, :id, :name, prompt: "Selecione uma pista" %>
  </div>

  <div>
    <%= form.label :average_lap_time, "Tempo Médio por Volta (segundos)" %>
    <%= form.number_field :average_lap_time, step: 0.01 %>
  </div>

  <div>
    <%= form.label :fuel_consumption_per_lap, "Consumo de Combustível por Volta (litros)" %>
    <%= form.number_field :fuel_consumption_per_lap, step: 0.01 %>
  </div>

  <div>
    <%= form.label :total_laps, "Número Total de Voltas" %>
    <%= form.number_field :total_laps %>
  </div>

  <%= form.submit "Salvar Corrida", class: "btn btn-primary" %>
<% end %>

<%= link_to 'Voltar', races_path, class: 'btn btn-secondary' %>
