<h1>Selecionar Carro e Pista</h1>

<%= form_with url: races_path, method: :post, local: true do |f| %>
  <div class="field">
    <%= f.label :car_id, "Selecione o Carro" %>
    <%= f.collection_select :car_id, @cars, :id, :model %>
  </div>
  <div class="field">
    <%= f.label :track_id, "Selecione a Pista" %>
    <%= f.collection_select :track_id, @tracks, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :fuel_consumption_per_lap, "Consumo de Combustível por Volta (litros)" %>
    <%= f.text_field :fuel_consumption_per_lap %>
  </div>
  <div class="field">
    <%= f.label :total_laps, "Quantidade de Voltas da Corrida" %>
    <%= f.text_field :total_laps %>
  </div>
  <div class="actions">
    <%= f.submit "Calcular Estratégia" %>
  </div>
<% end %>

<script>
  function updateFormAction() {
    const carId = document.querySelector('#car_id').value;
    const trackId = document.querySelector('#track_id').value;
    const form = document.querySelector('form');
    if (carId && trackId) {
      form.action = `<%= show_race_path(car_id: '', track_id: '') %>`.replace('{car_id}', carId).replace('{track_id}', trackId);
    }
  }
</script>
