<h1>Nova Corrida</h1>

<%= form_with url: "calculate_strategy_race_path" do %>
  <div>
    <%= label_tag :car_id, 'Selecione um Carro' %>
    <%= select_tag :car_id, options_from_collection_for_select(@cars, :id, :model) %>
  </div>
  <div>
    <%= label_tag :track_id, 'Selecione uma Pista' %>
    <%= select_tag :track_id, options_from_collection_for_select(@tracks, :id, :name) %>
  </div>
  <div>
    <%= label_tag :fuel_consumption_per_lap, 'Consumo de Combustível por Volta (litros)' %>
    <%= text_field_tag :fuel_consumption_per_lap %>
  </div>
  <div>
    <%= submit_tag 'Calcular Estratégia' %>
  </div>
<% end %>
