<h1>Detalhes da Corrida</h1>

<h2>Carro</h2>
<p><%= @car.model %></p>

<h2>Pista</h2>
<p><%= @track.name %></p>

<% if @pitstop_strategy %>
  <h2>Estratégia de Pitstop</h2>
  <ul>
    <li>Voltas por tanque: <%= @pitstop_strategy[:laps_per_tank] %></li>
    <li>Consumo de combustível por volta: <%= @pitstop_strategy[:fuel_needed_per_lap] %> litros</li>
    <li>Distância total da corrida: <%= @pitstop_strategy[:total_race_distance] %> km</li>
    <li>Total de voltas: <%= @pitstop_strategy[:total_laps] %></li>
    <li>Paradas necessárias: <%= @pitstop_strategy[:pitstops_needed] %></li>
  </ul>
<% end %>
