<h1>Estratégia de Pitstop</h1>

<h2>Carro: <%= @car.model %></h2>
<p>Potência: <%= @car.power %> HP</p>
<p>Peso: <%= @car.weight %> kg</p>
<p>Capacidade do tanque: <%= @car.fuel_capacity %> L</p>
<p>Consumo de combustível por volta: <%= @car.fuel_consumption_per_lap %> L</p>

<h2>Pista: <%= @track.name %></h2>
<p>Comprimento: <%= @track.distance %> km</p>
<p>Número de curvas: <%= @track.number_of_curves %></p>
<p>Tempo de volta: <%= @track.car_lap_time %> segundos</p>
<p>Laps per Tank: <%= @strategy[:laps_per_tank] %></p>
<p>Total Race Distance: <%= @strategy[:total_race_distance] %></p>
<p>Total Laps: <%= @strategy[:total_laps] %></p>

<div class="actions">
  <%= link_to 'Voltar', new_race_path, class: 'button' %>
</div>
