<h1>Detalhes da Corrida</h1>

<p><strong>Carro:</strong> <%= @race.car.model %></p>
<p><strong>Pista:</strong> <%= @race.track.name %></p>
<p><strong>Tempo Médio por Volta:</strong> <%= @race.average_lap_time %> segundos</p>
<p><strong>Consumo de Combustível por Volta:</strong> <%= @race.fuel_consumption_per_lap %> litros</p>
<p><strong>Total de Voltas:</strong> <%= @race.total_laps %></p>
<p><strong>Total de Combustível Necessário:</strong> <%= @race.total_fuel_needed %> litros</p>

<%= link_to 'Voltar', races_path, class: 'btn btn-secondary' %>
