<h1>Estratégia de Pitstop</h1>

<h2>Carro: <%= @car.model %></h2>
<p>Potência: <%= @car.power %> HP</p>
<p>Peso: <%= @car.weight %> kg</p>
<p>Capacidade do tanque: <%= @car.fuel_capacity %> L</p>
<p>Consumo de combustível por volta: <%= @fuel_consumption_per_lap %> litros</p>

<h2>Pista: <%= @track.name %></h2>
<p>Comprimento: <%= @track.distance %> km</p>
<p>Número de curvas: <%= @track.number_of_curves %></p>
<p>Distância total da corrida: <%= @strategy[:total_race_distance] %> km</p>
<p>Quantidade de voltas da corrida: <%= @total_laps %> voltas</p>

<h2>Recomendação</h2>
<p>Voltas p/ tanque: <%= @strategy[:laps_per_tank].ceil %> litros</p>

<div class="actions">
  <%= link_to 'Voltar', new_race_path, class: 'button' %>
</div>
